@font-face {
    font-family: "Noto Sans TC";
    font-weight: 900;
    src: url("../../font/admin/NotoSansTC-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 800;
    src: url("../../font/admin/NotoSansTC-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 700;
    src: url("../../font/admin/NotoSansTC-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 600;
    src: url("../../font/admin/NotoSansTC-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 500;
    src: url("../../font/admin/NotoSansTC-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 400;
    src: url("../../font/admin/NotoSansTC-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 300;
    src: url("../../font/admin/NotoSansTC-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 200;
    src: url("../../font/admin/NotoSansTC-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans TC";
    font-weight: 100;
    src: url("../../font/admin/NotoSansTC-Thin.ttf") format("truetype");
}