.dashboard-row {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}

.dashboard-info-card {
    flex: 1 1 100%;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.dashboard-ic-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 0.7rem;
}

.dashboard-ic-subtitle {
    font-size: 0.875rem;
    margin-top: 0.875rem;
    color: var(--text-color-light);
}

.dashboard-ic-info-table-content {
    margin-top: 1rem;
}

table.dashboard-ic-info-table-content {
    border: none;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.dashboard-ic-info-table-content td,
table.dashboard-ic-info-table-content th {
    border: none;
    padding: 0.5rem 4px;
}
table.dashboard-ic-info-table-content tbody td {
    font-size: 0.875rem;
}
table.dashboard-ic-info-table-content thead {
    border-bottom: 2px solid var(--text-color-dark);
}
table.dashboard-ic-info-table-content thead th {
    font-size: 1rem;
    font-weight: 600;
}
table.dashboard-ic-info-table-content tfoot td {
    font-size: 14px;
}

.dashboard-ic-info-table-content > tbody > tr > td:nth-child(1) {
    width: 55%;
}

.dashboard-ic-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 1rem;
}

.ic-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.dashboard-ic-todo-count {
    font-size: 2rem;
    color: #5fa9ff;
}
