:root {
    --border-color: #00000033;
    --white-color: #ffffff;
    --text-color-dark: #000000cc;
    --text-color-light: #00000066;
    --blue-color:#6cabff;
    --font: "Noto Sans TC", san-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-color-light);
    border-radius: 100rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    font-family: var(--font);
    color: var(--text-color-dark);
}

html, body{
    min-width: 1200px;
}

svg {
    color: var(--text-color-dark);
}

body {
    background-color: #f6f6f6;
}

a{
    text-decoration: none;
}

.btn-color:hover{
    background-color: #00000010;
}

.btn-color:active{
    background-color: #00000020;
}

.sidebar ol,
.sidebar ul {
    list-style-type: none;
}

.top-nav {
    min-height: 4rem;
    max-height: 4rem;
    width: max(100%, 1200px);
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px 0 rgba(74, 74, 78, 0.3);
    position: fixed;
    z-index: 100;
}

.top-nav-home {
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
}

.top-nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 1.5rem;
}

.top-nav-right {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.top-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    border-radius: 0.5rem;
    font-weight: 600;
}

.app-container {
    padding-top: 4rem;
}

.sidebar {
    width: 16rem;
    height: calc(100% - 4rem);
    position: fixed;
    background-color: var(--white-color);
    overflow-y: scroll;
}

.sb-category-subcat {
    padding-left: 2.2rem;
}

.sb-category-subcat li {
    margin-top: 0.875rem;
    font-size: 0.875rem;
}

.sb-category-subcat a {
    text-decoration: none;
}

.sb-category-gap {
    margin-bottom: 2rem;
}

.sb-category-title {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--text-color-light);
}

.sb-content {
    padding: 1.5rem;
}

.sb-category-parent {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.sb-category-top-margin {
    margin-top: 1rem;
}

.sb-category-main-title {
    font-size: 1rem;
    font-weight: 600;
}

/* Dashboard content */
.main-content {
    width: calc(100% - 16rem);
    padding-left: 16rem;
}

.dashboard {
    margin: 1.5rem;
}

.checkmark{
    width: 1.2rem;
    height: 1.2rem;
}
