@font-face {
    font-family: 'NotoSansTC-Medium';
    src: url(../font/NotoSansTC-Medium.otf);
}

@font-face {
    font-family: 'NotoSansTC-Regular';
    src: url(../font/NotoSansTC-Regular.otf);
}

@font-face {
    font-family: 'NotoSerifTC-Medium';
    src: url(../font/NotoSerifTC-Medium.otf);
}

@font-face {
    font-family: 'NotoSerifTC-Regular';
    src: url(../font/NotoSerifTC-Regular.otf);
}

@font-face {
    font-family: 'NotoSerifTC-Bold';
    src: url(../font/NotoSerifTC-Bold.otf);
}

/* Reset & Box Model */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NotoSerifTC-Regular';
}


h1,
h2 {
    font-family: 'NotoSerifTC-Bold';
}

h3,
h4 {
    font-family: 'NotoSerifTC-Medium';
    font-weight: 500;
}

:root {
    --Main: rgba(0, 0, 0, 0.88);
    --Secondary: rgba(0, 0, 0, 0.60);
    --Inactive: rgba(0, 0, 0, 0.40);
}

.text-main {
    color: var(--Main);
}

.text-secondary {
    color: var(--Secondary, rgba(0, 0, 0, 0.60));
}

.text-inactive {
    color: var(--Inactive);
}

.color-white {
    color: white;
}

.font-notosanstc-medium {
    font-family: 'NotoSansTC-Medium';
}

.font-notosanstc-regular {
    font-family: 'NotoSansTC-Regular';
}

.font-notoseriftc-medium {
    font-family: 'NotoSerifTC-Medium';
}

.font-notoseriftc-regular {
    font-family: 'NotoSerifTC-Regular';
}

.font-notoseriftc-bold {
    font-family: 'NotoSerifTC-Bold';
}

/* Typography */
html,
body {
    font-size: 16px;
}

.text-align-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-decoration-none {
    text-decoration: none;
}

.word-wrap {
    word-wrap: break-word;
}

/* Layout */
.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}


.flex-row {
    flex-direction: row;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

main {
    padding: 20px 16px;
}

.flex-column {
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.h-100 {
    height: 100%;
}

.h-3-375rem {
    height: 3.375rem;
}

.h-100vh {
    height: 100vh;
}

.w-40 {
    width: 40%;
}

.w-85 {
    width: 85%;
}

.w-37-625rem {
    width: 37.625rem;
}

.w-100 {
    width: 100%;
}

.right-0 {
    right: 0;
}

.top-138px {
    top: 138px;
}

.right-3-375rem {
    right: 3.375rem;
}

.right-8rem {
    right: 8rem;
}

.left--3px {
    left: -3px;
}

.left-47px {
    left: 47px;
}

.left-3-375rem {
    left: 3.375rem;
}

.vertical-lr {
    writing-mode: vertical-lr;
}

header {
    z-index: 100;
    top: 0px;
}

/* Flexbox Alignment */

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.gap-0-75rem {
    gap: 0.75rem;
}

.gap-1-5rem {
    gap: 1.5rem;
}

.gap-1-75rem {
    gap: 1.75rem;
}

.gap-3rem {
    gap: 3rem;
}

.max-w-50rem {
    max-width: 50rem;
}

.max-w-30rem {
    max-width: 30rem;
}


/* Spacing */
.text-indent-1-19em {
    text-indent: 1.19em;
}

.padding-2rem-0 {
    padding: 2rem 0;
}

.p-l-10 {
    padding-left: 10px;
}

.p-4rem-0-2-5rem-0 {
    padding: 4rem 0rem 2.5rem 0rem;
}

.p-x-8rem {
    padding: 0 8rem;
}

/* Borders & Backgrounds */
.border-none {
    border: none;
}

.border-top-1px {
    border-top: 1px solid rgba(0, 0, 0, 0.40);
}

.border-top-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.40);
    border-bottom: 1px solid rgba(0, 0, 0, 0.40);
}

/* .border-radius-0-125rem {
    border-radius: 0.125rem;
} */

.bg-white {
    background-color: white;
}


/* Forms & Inputs */
.outline-none {
    outline: none;
}

#sub-main {
    display: flex;
    margin: 20px 0px;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    align-items: center;
}

#sub-main>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sub-main>div:nth-child(1)>div {
    margin-bottom: -4px;
}

.hover-decoration:hover {
    text-decoration: underline;
}

.info_card {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    /* padding: 16px 48px; */
    border: 1px solid var(--Inactive);
    /* border-radius: 10px; */
    justify-content: space-around;
    width: 100%;
}

.info_card>h4 {
    margin: 0 48px;
    height: 62px;
    display: flex;
    align-items: center;
}

.info_card>div:not(.divider, .modal) {
    padding: 0 48px;
    height: 60px;
    display: flex;
    align-items: center;
}

.info_card>div:not(.divider, .modal):hover {
    background-color: rgba(245, 245, 245, 1);
}

.info_card>div>div:nth-child(1) {
    width: 160px;
}

.info_card>div>div:nth-child(2) {
    margin-right: auto;
    overflow: hidden;
    text-wrap: nowrap;
    max-width: 100%;
}

.info_card button {
    position: absolute;
    right: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
    color: var(--Secondary);
    font-size: 32px;
    font-family: 'NotoSerifTC-Medium';
    font-weight: 500;
    min-width: max-content;
    cursor: pointer;
}

/* .info_card button:hover{
    color: var(--Main);
    cursor: pointer;
} */

.divider {
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.20);
    margin: 0 48px;
}

.edit_info_card {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: white;
    padding: 24px 36px 32px 36px;
    /* border-radius: 16px; */
    border: 1px solid var(--Inactive);
}

.edit_info_card>div {
    gap: 48px;
}

.edit_info_card>div:nth-of-type(1)>input {
    height: 44px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000000;
    text-indent: 8px;
    font-size: 1rem;
}

.edit_info_card>div:nth-of-type(1)>img {
    position: fixed;
    transform: translateX(-24px) translateY(8px);
    opacity: 0.5;
    cursor: pointer;
}

.edit_info_card>div:nth-of-type(1)>img:hover {
    opacity: 1;
}

.edit_info_card>div:nth-of-type(2)>input {
    width: 104px;
    height: 64px;
    border: 1px solid var(--Secondary);
    transition: 0.3s ease;
    cursor: pointer;
}

.edit_info_card>div:nth-of-type(2) {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.edit_info_card>div:nth-of-type(2)>input:nth-of-type(1) {
    background-color: white;
    color: var(--Secondary);
}

.edit_info_card>div:nth-of-type(2)>input:nth-of-type(1):hover {
    background-color: rgb(230, 230, 230);
}

.edit_info_card>div:nth-of-type(2)>input:nth-of-type(2) {
    background-color: var(--Secondary, rgba(0, 0, 0, 0.60));
    color: white;
}

.edit_info_card>div:nth-of-type(2)>input:nth-of-type(2):hover {
    background-color: var(--Main, rgba(0, 0, 0, 0.88));
}

:focus-visible {
    outline: none;
}

.modal {
    display: none;
    /* 隱藏模態框 */
    position: fixed;
    /* 固定位置 */
    z-index: 1;
    /* 置於最上層 */
    left: 0;
    top: 0;
    width: 100%;
    /* 全屏寬 */
    height: 100%;
    /* 全屏高 */
    /* overflow: auto; */
    /* 啟用滾動條 */
    background-color: rgb(0, 0, 0);
    /* 背景色 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景色，帶透明度 */
    justify-content: center;
    align-items: center;
}

#sub-main>a:not(#logOut) {
    margin-top: 20px;
    width: 161px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Secondary);
    transition: 0.3s ease;
    background-color: var(--Secondary, rgba(0, 0, 0, 0.60));
    color: white;
    text-decoration: none;
}

#sub-main>a:not(#logOut):hover {
    background-color: var(--Main, rgba(0, 0, 0, 0.88));
}

@media (max-width: 1099.99px) {

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 24px;
        font-family: 'NotoSerifTC-Medium';
        font-weight: 500;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .body1 {
        font-size: 15px;
        font-family: 'NotoSansTC-Regular';
        line-height: 36px;
    }


    .caption {
        font-size: 16px;
        font-family: 'NotoSerifTC-Medium';
    }

    :root {
        --h4: 18px;
        --body1: 15px;
    }

    #sub-main {
        gap: 16px;
    }

    .card-container {
        display: flex;
    }

    .edit_info_card {
        width: 353px;
    }

    .edit_info_card>div:nth-of-type(1)>input {
        height: 28px;
    }

    .edit_info_card>div:nth-of-type(1)>img {
        transform: translateX(-20px) translateY(0px);
    }

    .edit_info_card>div:nth-of-type(2)>input{
        height: 43px;
        width: 100%;
    }

    .edit_info_card>div:nth-of-type(2) {
        justify-content: space-between;
    }

    .info_card {
        padding: 4px 0px;
    }

    .info_card>h4 {
        height: 45px;
        margin: 0 20px;
    }

    .info_card>div:not(.divider, .modal) {
        flex-wrap: wrap;
        height: 70px;
        padding: 8px 20px;
    }

    .info_card>div>div:nth-child(1) {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .info_card button {
        right: 20px;
    }

    .info_card button img {
        width: 20px;
        height: 20px;
    }

    .divider {
        margin: 0 20px;
    }

    #sub-main>a {
        width: 128px;
        height: 43px;
    }

}

@media (min-width: 1100px) {

    h1 {
        font-size: 78px;
    }

    h2 {
        font-size: 54px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 32px;
    }

    .body1 {
        font-size: 20px;
        font-family: 'NotoSansTC-Regular';
        line-height: 36px;
    }

    .caption {
        font-size: 20px;
        font-family: 'NotoSerifTC-Medium';
    }

    :root {
        --h4: 32px;
        --body1: 20px;
    }

    #myname {
        font-family: 'NotoSerifTC-Medium';
        font-weight: 500;
    }

    .edit_info_card {
        width: 600px;
    }
}

#logOut{
    background: none;
    color: var(--Secondary);
    margin: 3rem 0;
    text-decoration: none;
}

#logOut:hover{
    text-decoration: underline;
    text-underline-position: under;
    color: var(--Main);
}

@media all and (max-width:1100px) {
    #logOut{
        background: none;
        text-align: center;
        width: initial;
        height: initial;
        color: var(--Secondary);
        margin: 1rem 0;
        text-decoration: none;
    }
}