.LG_button  {
    font-size: 24px;
    transition: ease-out 300ms;
    border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.6);padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; 
  }
  .LG_button:hover{
    transition: ease-out 300ms;
    border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.88); padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px;
  }

  .FL_button  {
    font-size: 24px;
    border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.88); padding-top: 12px; padding-right: 32px; padding-bottom: 12px; padding-left: 32px; 
  }


  .SG_button{
    font-size: 24px;
    border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.6); padding-top: 10px; padding-right: 24px; padding-bottom: 10px; padding-left: 24px; 

  }

  .SB_button{
    font-size: 24px;
    border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.88); padding-top: 10px; padding-right: 24px; padding-bottom: 10px; padding-left: 24px; 

  }
  
  @media(max-width: 1019px) {
    .LG_button  {
      text-wrap: nowrap;
      font-size: 16px;
      border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.6); padding-top: 10px; padding-right: 24px; padding-bottom: 10px; padding-left: 24px;     }

    .FL_button  {
      font-size: 16px;
      border-style: none; color: #FFFFFF; clip:  height; background-color: hsla(0, 0%, 0%, 0.8); padding-top: 10px; padding-right: 24px; padding-bottom: 10px; padding-left: 24px; 
    }

  }