@font-face {
    font-family: "NotoSansTC-Medium";
    src: url(../font/NotoSansTC-Medium.otf);
}

@font-face {
    font-family: "NotoSansTC-Regular";
    src: url(../font/NotoSansTC-Regular.otf);
}

@font-face {
    font-family: "NotoSerifTC-Medium";
    src: url(../font/NotoSerifTC-Medium.otf);
}

@font-face {
    font-family: "NotoSerifTC-Regular";
    src: url(../font/NotoSerifTC-Regular.otf);
}

@font-face {
    font-family: "NotoSerifTC-Bold";
    src: url(../font/NotoSerifTC-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "NotoSerifTC-Regular";
}

h1,
h2 {
    font-family: "NotoSerifTC-Bold";
}

h3,
h4 {
    font-family: "NotoSerifTC-Medium";
    font-weight: 500;
}

:root {
    --Main: rgba(0, 0, 0, 0.88);
    --Secondary: rgba(0, 0, 0, 0.6);
    --Inactive: rgba(0, 0, 0, 0.4);
}

.text-main {
    color: var(--Main);
}

.text-secondary {
    color: var(--Secondary);
}

.text-inactive {
    color: var(--Inactive);
}

.color-white {
    color: white;
}

.font-notosanstc-medium {
    font-family: "NotoSansTC-Medium";
}

.font-notosanstc-regular {
    font-family: "NotoSansTC-Regular";
}

.font-notoseriftc-medium {
    font-family: "NotoSerifTC-Medium";
}

.font-notoseriftc-regular {
    font-family: "NotoSerifTC-Regular";
}

.font-notoseriftc-bold {
    font-family: "NotoSerifTC-Bold";
}

html,
body {
    font-size: 16px;
}

.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.align-items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.max-w-50rem {
    max-width: 50rem;
}

header {
    top: 0px;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.row-column {
    display: flex;
    flex-direction: row;
}

main {
    margin: 0px;
    padding: 0px 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;
    width: 100%;
}

.tabs {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: 1px rgba(0, 0, 0, 0.4) solid;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.tabs ::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.tab-button {
    color: var(--Inactive, rgba(0, 0, 0, 0.4));
    background-color: inherit;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    font-family: "NotoSerifTC-Medium";
    transition: 0.1s;
    height: 3.375rem;
    padding: 4px 12px 4px 12px;
    min-width: 90px;
    flex-shrink: 0;
}

.tab-button:hover {
    color: var(--Secondary);
    /* background-color: rgb(248, 248, 248); */
}

.active-tab {
    color: var(--Main);
    border-bottom: 3px rgb(0, 0, 0) solid;
}

/* .a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: clamp(3rem, -3.875rem + 10vw, 8rem);
} */

.tab-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: clamp(3rem, -3.875rem + 10vw, 8rem);
}

.tab-content img {
    width: 100%;
    max-width: 100%;
}

.title {
    padding: 1.25rem 0 0.75rem 0;
    color: var(--Main);
    word-wrap: break-word;
    margin-bottom: 0.5rem;
}

.content,
.article p {
    color: var(--Secondary);
    word-wrap: break-word;
}

.image img {
    height: 100%;
    
}

.image{
    margin: 0.5rem 0;
}

.card-container {
    width: 26.25rem;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3.75rem 0;
    margin: 0;
    gap: 1.5rem;
    display: flex;
}

.card > div {
    justify-content: center;
}

/*
.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
*/
.card img {
    border: none;
    outline: none;
    height: 7.5rem;
    width: 10rem;
}

.card_tittle {
    color: #000;
    font-size: 24px;
    font-family: "NotoSerifTC-Medium";
    font-weight: 500;
}

.date {
    font-family: "NotoSansTC-Regular";
    color: var(--Inactive);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.01625rem;
}

.divider {
    margin: 0;
    padding: 0;
    width: 100%;
    /* 分隔線的寬度 */
    height: 1px;
    /* 分隔線的高度 */
    background-color: rgba(0, 0, 0, 0.2);
    /* 分隔線的顏色 */
}

@media (max-width: 1099.99px) {
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .body1,
    .article p {
        font-size: 15px;
        font-family: "NotoSansTC-Regular";
        line-height: 36px;
    }

    #page_title,
    .card-container {
        display: flex;
    }

    main {
        padding: 0px 16px;
    }

    #sub-main {
        justify-content: center;
        align-items: center;
        max-width: 550px;
    }

    #page_title {
        margin: 22px 0 3rem 0;
    }

    .tabs {
        width: 100%;
    }

    .tab-button {
        font-size: 18px;
    }

    /* 
    .a {
        width: 100%;
    } */

    .article {
        width: 100%;
        display: none;
    }

    .card-container {
        width: 100%;
    }

    .card {
        display: none;
    }

    .m_card {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        flex-direction: column;
        color: black;
        gap: 1rem;
    }

    nav {
        border-bottom: none;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 78px;
    }

    h2 {
        font-size: 54px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 32px;
    }

    .body1,
    .article p {
        font-size: 20px;
        font-family: "NotoSansTC-Regular";
        line-height: 36px;
    }

    #sub-main {
        max-width: 1400px;
    }

    #page_title {
        margin: 5.75rem 0 3rem 0;
    }

    .tab-button {
        font-size: 24px;
    }

    .tab-content > div:nth-child(1) {
        padding: 3.75rem 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 60%;
    }

    .card {
        width: 100%;
        display: flex;
        text-decoration: none;
        color: black;
        gap: 1rem;
    }

    .m_card {
        display: none;
    }
}
