*{
    box-sizing: border-box;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
  }
  body {
      background-color: rgb(255, 255, 255); /* 將背景顏色設為白色 */
      position: relative;
      overflow-y: auto;
      overflow-x: hidden; 
      margin: 0; 
  }



#icon-bar{
    z-index: 3;
    pointer-events: none;
    position: sticky;
    top: 0px;
    margin-top: 10px;
}

.main-content{
width: 100%;    
display: flex;
justify-content: center;
flex-direction: row;
}

.image-area{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis:50%;
    }
    
#main_image{
width: 780px;
min-width: 340px ;
}

.text-area{
font-size: 32px;
position: relative;
gap: 16px;
width: 680px;
display: flex;
justify-content: center;
flex-direction: column;
}


.ALL{
    display: flex;
    flex-direction: column;
}
.New{
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 128px;
    background: linear-gradient(transparent 0% ,#FFFFFF 50%);
    gap: 64px;
}

.handle{
    display: flex;
    flex-direction: column;
}
.new-text{
    font-size: 34px;
}
.News{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 64px;
}
.image-area2{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 26px;
}
.news-textbox{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#news_image{
    width: 100%;
    max-width: 600px;
}
#w{
    width: 100%;
}

.substances{
    width: 30%;
    max-width: 544px;
    display: flex;
    flex-direction: column;
}
.second-content{
    gap: 20px;
    width: 100%;
    display: flex;
}
.s{
    display: flex;
    justify-content: center;
}
.content-img{
    width: clamp(9.375rem, 4.2188rem + 7.5vw, 11.25rem);;
    min-width: 100px;
    display: flex;
    justify-content: center;
}
.substance-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 1;
    width: 340px;
    gap: 6px;
}

#down {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
position: relative;
bottom: 0;
width: 100%;
}
#down p {
font-size: 24px;
margin: 0;
width: 100%;
}
#down img{
    filter: invert(1);
    opacity: 0.6;
    padding-bottom: 4px;
}

.search_bar {
display: flex;
justify-content: center;
background-color: rgb(255, 255, 255);
align-items: center;
border: 2px solid #ccc; 
height: 62px;
transform: translateY(-1px);
border-style: solid none;
overflow: hidden;     
position: sticky; 
width: 100%;           
left: 50%;             
top: 0;
left: 0;
}

/* 隱藏按鈕邊框 */
.search_bar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.769);
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
}
.name_center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.name_right{
    display: flex;
    align-items: center;
    flex-direction: row;
}


  body::after {
      margin: 0 auto;
      content: "";
      position: absolute;
      top: 0;
      left: 40%;
      height: 600vmin;
      width: 120%;
      background-image: 
          linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0.5px, transparent 0px),
          linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0.5px, transparent 0px);
      background-size: 55vmin 50vmin;
      pointer-events: none; /* 這樣不會影響到元素的交互 */
      transform-origin: center; /* 確保旋轉的中心是元素的中心 */
      transform: translate(-50%, -50%) rotate(-10deg);
      z-index: -1;
  }
  /*.main-content {
      background-color: #a91919;
      width: 80%;
      margin: 0 auto;
      height: 250px;
  }*/

  .contact-section {
    padding: 4rem 0rem 2.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}



.contact-info-r {
    text-align: right;
    color: rgba(0, 0, 0, 0.60);
    font-size: 1.25rem;
    font-family: Noto Serif TC;
    font-weight: 500;
    word-wrap: break-word;
}

.contact-info-l {
    text-align: left;
    color: rgba(0, 0, 0, 0.60);
    font-size: 1.25rem;
    font-family: Noto Serif TC;
    font-weight: 500;
    word-wrap: break-word;
}

.social-media-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.footer-text {
    width: 85%;
    border-top: 1px rgba(0, 0, 0, 0.40) solid;
    text-align: center;
    color: rgba(0, 0, 0, 0.60);
    font-size: 1.25rem;
    font-family: Noto Serif TC;
    font-weight: 500;
    word-wrap: break-word;
    padding: 2rem 0rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2em;
}

.image-area2 h2{
    color: rgba(0, 0, 0, 0.8);
}
.image-area2 h5{
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
}
.fd-gap{
    display: flex; flex-direction: column; gap: 64px;
}
.foodscrollbar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



@media(min-width:1020px){
    .PH{
        display: none;
    }
    .ph-size{
        display: none;
    }
    .PC{
        display: flex;
    }
}

@media(max-width: 1019px) {
    .PC{
        display: none;
    }
    .PH{
        display: flex;
    }

    .HeadLine{
        font-weight: bold;
        font-size: 44px;
    
    }
    .image-area{
        width: 100%;
    }
    
    .SecondLine{
        font-weight: bold;
        font-size: 24px;
    }
    
    .Main-Titlecontent{
        font-size: 20px;
    }
    
    .Second-Titlecontent{
        font-size: 18px;
    }
    
    .content{
        font-size: 15px;
    }
    
    .Last{
        font-size: 15px;
    }
    

    header{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .main-content{
        flex-wrap: wrap;
    }
    .image-area .text-area{
        width: 90%;
    }
    .text-area{
        width: 100%;
        padding: 0 24px;
    }

    .News{
        flex-direction: column;
        max-width: 550px;
    }

    #news_image{
        max-width: 100%;
        width: 100%;
    }

    .image-area2{
        justify-content: center;
    }

    .news-text{
        display: flex;
        flex-direction: column;
        width: 92%;
        gap: 8px;
        padding: 0 16px;
    }

    .substances{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .substance-text {
        width: 196px;
    }

    .second-content{
        justify-content: space-between;
        padding: 0 16px;
    }

    .right{
        transform: translateY(1.5px);
        width: 18px;
    }
    .left{
        transform: translateY(1.5px);
        width: 18px;
    }
    .New{
        align-items: center;
    }
    hr{
        margin: 12px 0;
    }
    .fd-gap{
        gap: 48px;
    }
    #imageText{
        width: 100%;
    }

}